.aboutContainer {
  margin-top: 80px;
  padding-top: 60px;
  background: rgb(9, 37, 58);
  background: radial-gradient(
    circle,
    rgba(107, 106, 124, 1) 0%,
    rgba(112, 112, 157, 1) 0%,
    rgba(22, 23, 23, 1) 0%
  );
}

.wrappHero {
  padding-top: 70px;
  padding-bottom: 50px;
  /* background-color: rgb(223, 215, 215); */
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero {
  padding: 30px;
  width: 40%;
}

.hero h2 {
  margin: 20px 0;
}

.education {
  padding: 25px;
  width: 35%;
  height: 250px;
  border: none;
}

.education div {
  margin: 15px;
}

.callToAction {
  padding: 25px;
  width: 22%;
  height: 250px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  box-shadow: 10px 10px #0fbab6;
}
.callToAction div {
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 14px;
  /* color: #8f5cbb; */
  color: #17a4cf;
  text-transform: uppercase;
}

.inconsLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #17a4cf;
}
.inconsLink:hover {
  color: #0fbab6;
}
/* #7a23c6 */
.callToAction svg {
  margin-right: 10px;
  /* color: #aa5a92; */
  color: #d1d1d1;
}
.info {
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
}

.name2 {
  font-size: 20px;
}
