.aboutContainer {
  margin-top: 80px;
}

.wrappHero {
  padding-top: 70px;
  padding-bottom: 50px;
  /* background-color: rgb(223, 215, 215); */
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero {
  padding: 30px;
  width: 40%;
}

.hero h2 {
  margin: 20px 0;
}

.education {
  padding: 25px;
  width: 30%;
  height: 250px;
  border: none;
}

.education div {
  margin: 15px;
}

.callToAction {
  padding: 25px;
  width: 30%;
  height: 250px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  box-shadow: 10px 10px #0fbab6;
}
.callToAction div {
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.callToAction img {
  margin-right: 5px;
}
.info {
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
}

.name2 {
  font-size: 20px;
}

/* .personal,
.education {
  margin: 30px 0;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #151617;
} */

.last {
  text-align: center;
}
.last button {
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 50px;
  background: #0fbab6;
  margin: 20px;
}
