.projectContainer {
  width: 350px;
  height: 250px;
  border: 1px solid #17a4cf;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.projectContainer:hover {
  transform: scale(1.1, 1.1);
}
.projectContainer div {
  width: 100%;
}
.projectContainer div img {
  width: 100%;
}
.hidedInfo {
  margin-top: 15px;
  width: 100%;
  color: #d1d1d1;
}

.hidedInfo p {
  word-wrap: break-word;
  box-sizing: border-box;
}
