.projectContainer {
  width: 300px;
  height: 250px;
  border: 1px solid #17a4cf;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.projectContainer:hover {
  transform: scale(1.1, 1.1);
}
.projectContainer div {
  width: 100%;
}
.projectContainer div img {
  width: 100%;
}
.hidedInfo {
  margin-top: 15px;
  width: 100%;
  color: #d1d1d1;
}

.hidedInfo p {
  word-wrap: break-word;
  box-sizing: border-box;
}

.edit,
.remove,
.addProject {
  font-size: 16px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.edit {
  position: absolute;
  background-color: #2bb918;
  top: 0;
  right: 0;
}

.remove {
  position: absolute;
  background-color: red;
  top: 40px;
  right: 0px;
}

.addProject {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #17a4cf;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #17a4cf;
  border-radius: 50%;
}
.addProject button {
  margin: 20px;
}
