.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  box-sizing: border-box;
}

.modal-content {
  position: relative;
  width: 600px;
  background-color: #fff;
  z-index: 9999;
  padding: 20px;
  border-radius: 4px;
}

.modal-footer {
  position: absolute;
  top: 5px;
  right: 15px;
}

.modal-footer button {
  cursor: pointer;
  font-size: 16px;
  padding: 6px;
  border: none;
  background-color: transparent;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.modal-header h4 {
  font-size: 18px;
  padding-bottom: 10px;
}
.modal-body {
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid #eee;
}
