* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #fff;
  top: 0;
}

nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #737677;
  padding: 12px;
}

.button_pf {
  margin-left: 10px;
  color: #fff;
  background-color: #0fbab6;
  padding: 12px 30px;
}
.links:hover {
  border: 1px solid #0fbab6;
}
.links:active {
  color: red;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 10px;
  color: #fff;
}
