* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: #04518c;
  top: 0;
}

nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links {
  text-decoration: none;
  color: rgb(238, 230, 230);
  padding: 12px;
}
.links:hover {
  border: 1px solid #151617;
}
.links:active {
  color: red;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 10px;
  color: #fff;
}
