.adminContainer {
  padding: 30px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
