.portfolioContainer {
  text-align: center;
  margin-top: 80px;
  padding: 30px;
}

h1 {
  margin: 20px;
}
.resume {
  margin: 0 auto;
  width: 500px;
}

.projectList {
  display: flex;
  justify-content: center;
  align-items: center;
}
